In [1]:
import sqlite3
import pandas as pd

In [2]:
# Connect to the database
conn = sqlite3.connect('/content/dialects_database.db')

# Write a SQL query to retrieve the data
query = '''
SELECT id_text.id, id_text.text,id_dialect.dialect
FROM id_text,id_dialect
where id_text.id = id_dialect.id
'''

In [36]:
conn.text_factory = str

In [38]:
# Execute the query and extract the data
df = pd.read_sql_query(query, conn)

In [39]:
df.head()

,id,text,dialect
0,1009754958479151232,@toha_Altomy @gy_yah قليلين ادب ومنافقين. لو ا...,LY
1,1009794751548313600,@AlmFaisal 😂😂 الليبيين متقلبين!!!\nبس بالنسبة ...,LY
2,1019989115490787200,@smsm071990 @ALMOGRBE كل 20 تانيه شاب ليبي بير...,LY
3,1035479791758135168,@AboryPro @lyranoo85 رانيا عقليتك متخلفة. اولا...,LY
4,1035481122921164800,@lyranoo85 شكلك متعقدة علشان الراجل لي تحبيه ا...,LY

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147725 entries, 0 to 147724
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       147725 non-null  int64
 1   text     147725 non-null  object
 2   dialect  147725 non-null  object
dtypes: int64(1), object(2)
memory usage: 3.4+ MB

In [41]:
def select_examples(group):
    return group.tail(3)

In [42]:
examples = df.groupby('dialect').apply(select_examples)
examples

                                 id  \
dialect
EG      105671  1055620304465215616
        105672  1056641788851744768
        105673  1060901120757907584
LB      133288   511930941514604480
        133289   551869108656934912
        133290   701859606411112448
LY      36496    979258867547811840
        36497    657866905957584896
        36498   1005079307289530368
MA      48035    978354020485037952
        48036   1064165387535872000
        48037    968465558424432640
SD      147722   975502734668500992
        147723   980207908641263616
        147724   981080482380238848

                                                             text dialect
dialect
EG      105671  @MahmoudWaked7 @maganenoo في طريق مطروح مركز ب...      EG
        105672  @FayedSasa للاسف شعب يجري وراء الازمات بيحبوا ...      EG
        105673          @hanaramzy62 ردی بیکون هاتفرق معاک فی ایه      EG
LB      133288  @LebISF ليش ما بتزلو عالضاحية كلا نمر زرقا عم ...      LB
        133289                               #بحبك_بس بعرف مش الي      LB
        133290  @afnan0alhilal الحمدلله وعايشين احلى حياة، لا ...      LB
LY      36496   @hadelrgieg نظمي نومك ارقدي بكري وفيقي الصبح و...      LY
        36497                       على العموم حتى انت نسخة والله      LY
        36498   @qahwa_r @RayanDadysGirl كلام جميل ريان اكيد ه...      LY
MA      48035   @LHTSrhOsOS5I3mr @abdulahaldafiri هذا ما عندكم...      MA
        48036   J'aime une vidéo @YouTube : "غادي نخلص كثر من ...      MA
        48037   إنتاج دجاج بدون ريش جاهز للطبخ !!! من غرائب تك...      MA
SD      147722  مااحرم نفسي ميسي حريف ولعاب برضو ..\nمدريدي وا...      SD
        147723  ياخي ديل ماخلو  للشيطان وإبليس شي لكن يروحو وي...      SD
        147724     @abdomaged127 النبي فيك صدمتني ياخي عاوز تعويض      SD

# saving the data

In [84]:
df.to_csv('/content/dialects_data.csv', index=False,sep='\t', encoding='utf-8-sig', lineterminator='\r\n')